* {
    padding: 0;
    margin: 0;
}

.blok {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.title {
    position: relative;
    margin: auto;
    padding: 80px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
@media screen and (max-width:400px) {
    .title{
        padding: 40px 0;
    }
    .title .url
    {
        margin: 5px 10px;
    }
}

.title h1 {
    position: relative;
    font-weight: 800 !important;
    margin: auto;
    display: flex;
    flex-direction: row;
    font-size: 56px
}

.title .bg-flex {
    color: #FFB400;
}

.title .bg-title {
    color: hsla(0, 0%, 100%, .07);
    font-size: 110px;
    font-weight: 900 !important;
    letter-spacing: 10px;
    line-height: .7;
    position: absolute;
    right: 0;
    left: 0;
    top: 47%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: -2;
}
@media screen and (max-width:350px) {
    .title h1 {
        position: relative;
        font-size: 26px;
        color: #fff;
        font-weight: 800 !important;
        text-transform: uppercase;
        margin: auto;
    }.title .bg-title {
        color: hsla(0, 0%, 100%, .07);
        font-size: 60px;
        font-weight: 600 !important;
        letter-spacing: 4px;
        line-height: .47;
        position: absolute;
        right: 0;
        left: 0;
        top: 47%;
        -webkit-transform: translateY(-40%);
        transform: translateY(-40%);
        z-index: -2;
    }
}
.container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin: auto;
}

.data {
    border-radius: 20px;
    max-width: 300px;
    width: 100%;
    height: auto;
    box-shadow: 0 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10px;
}

.data img {
    margin-left: 0;
    margin-right: 0;
}

.data h1 {
    margin: 10px;
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
}

.api h2 {
    font-size: 14px;
    color: #fff;
    margin: 5px;
    font-family: cursive;
    margin: 0 10px 10px 10px;
}

.api {
    overflow: hidden;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

 .api .images1 {
    width: 100%;
    height: 160px;
    overflow: hidden;
    border-bottom: 2px solid #FFB400;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.data .api img {
    width: 100%;
    height: 100%;
    cursor: pointer;
    transition: .3s;

}

.data .api:hover img {
    transform: scale(1.2);

}

.data .api:hover h1 {
    color: #FFB400;
}
.Title
{
    background:none !important;
    padding: 10px !important; 
    /* margin: 30px; */
    box-shadow: rgb(20 26 40 / 20%) 0px 7px 2px;
}
.element.style
{
    padding: 0 !important;
}
